/* ErrorMessage.css */
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
}

/* ErrorMessage.css */
.error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: red;
}

.error-icon {
    margin-right: 8px;
}

.error-text {
    font-weight: bold;
}
