.welcome-container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

.welcome-title {
    color: #000;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
}

.welcome-subtitle {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.welcome-image {
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
}

.info-sections {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.info-section {
    display: flex;
    align-items: center;
    max-width: 30%;
    text-align: left;
}

.info-icon {
    margin-right: 10px;
    font-size: 2.5em;
    color: #333;
}

.info-title {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.info-text {
    color: #666;
    font-size: 1em;
    margin: 0;
}

.travel-guide {
    margin-top: 40px;
    text-align: left;
}

.guide-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

.guide-step {
    margin-bottom: 20px;
}

.guide-step-title {
    color: #000;
    font-weight: bold;
}


.guide-step-text {
    font-size: 1em;
    color: #666;
}
